<h3>Welcome,
  <% if session[:user_admin] == true  %>
      Admin
  <% end %>
  <%= session[:user_name] %></h3>

<% if session[:user_admin] == true %>
    <%= render :partial => 'users/admin_options' %>
<% else %>
    <%=  render :partial => 'users/general_options' %>
<% end %>

<%= button_to 'log out',:controller => :users,:action => :logout %>