<h2>Welcome,
  <% if User.find_by_id(session[:user_id]).admin == true  %>
      Admin
  <% end %>
  <%= User.find_by_id(session[:user_id]).name %></h2>

<% if User.find_by_id(session[:user_id]).admin == true %>
    <%= render :partial => 'users/admin_options' %>
<% else %>
    <%=  render :partial => 'users/general_options' %>
<% end %>

<%= button_to 'log out',:controller => :users,:action => :logout %>